*{
    margin:0;padding: 0;
    }

#thiskid .container{
    width: 500px;
    margin-top:10px;
    }
#thiskid .header h1{
    text-align: center;
    color: #3ac9e8;
    border: 5px solid #e88c3a;
    transition: all 1s ease-in-out;
    cursor: pointer;
    display: block;
    font-family: 'coda Caption',sans-serif;
    }

#thiskid .header h1:hover{
    color: #129ebc;
    }

#thiskid .content{
    width: 470px;
    font-size:16px;
    border: 4px solid #e88c3a;
    color:#08819c;
    background: cornsilk;
    margin-top:-10px;
    }

#thiskid main .Accordion{
    float: right;
    margin-top:10px;
    margin-right:20%;
    }

/* ************************************** *//*for mobile*/
@media screen and (max-width: 1189px) {
    #thiskid main .Accordion{
        margin-right:30%;
        text-align: 1000px;
        }

    #thiskid .container{
        width: 700px;
        float:left;
        margin-top:10px;
        margin-left:30%;
        }
        #thiskid .content{
    width: 100%;
    text-align:center;
    
    font-size:19px;
    border: 4px solid #e88c3a;
    color:#08819c;
    background: cornsilk;
    margin-top:-10px;
    }
}